<div class="header">
            <ul>
                <li>
                    <a href="/index">Home</a>
                </li>
                <li>
                    <a href="/recipes">A to Z Recipes</a>
                </li>
                <li class="current">
                    <a href="/featured?id=1">Featured Recipes</a>
                </li>
                <li>
                    <a href="/videos.html">Videos</a>
                </li>
                <li>
                    <a href="/about.html">About</a>
                </li>
                <li>
                    <a href="/blog.html">Blog</a>
                </li>
            </ul>
        </div>